body {
    background-color: lightyellow;
    margin: 0;
    padding: 30px;
}

.container {
    width: 70%;
    margin: auto;
    background-color: lightcyan;
    padding: 20px;
}

.nilai {
    text-align: center;
    margin-bottom: 30px;
    
}

.soal {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    background-color: lightpink;
}

.btn {
    text-align: center;
    display: block;
    width: 100px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    color: black;
    background-color: lightgreen;
    text-decoration: none;
}